<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siebe's Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="site.css">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="48x48" href="assets/favicons/favicon-48.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16.png">
    <link rel="manifest" href="assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<!--TODO: Expand About Section with resume-->
<!--TODO: Improve About Section with a tab of Languages, Frameworks, Tools and how well I know them represented in a visual way-->
<!--TODO: Create contact form functionality-->
<!--TODO: Move the admin password to an environment variable if I figure out how to do that-->

<body>
<div id="particles-js"></div>
<nav>
    <p onclick="window.location.href='/';">Index</p>
    <p onclick="window.location.href='/AllProjects';">Projects</p>
    <p onclick="window.location.href='/About';">About</p>
    <p onclick="window.location.href='/#contact';">Contact</p>
    <p id="adminLink" style="display: none;">Admin</p>
</nav>

<section id="welcome" class="hero">
    <div class="container">
        <h1 class="display-4">Siebe's W.I.P. Portfolio</h1>
        <p class="lead">A site to portray my programming experience and language knowledge.
            Here you will be able to find my projects such as this site and links to the code & live demo's</p>
        <button onclick="window.location.href='/AllProjects';">View Projects</button>
    </div>
</section>

<section id="projects" class="section">
        <h1 class="text-center mb-5">Featured Projects</h1>
        <div class="row" id="projects-container">
            <div class="text-center">Loading projects...</div>
        </div>
</section>

<section id="welcome" class="hero">
    <div class="container">
        <h1 class="text-center mb-5">About Me</h1>
        <p class="lead text-center">I'm a passionate full-stack developer with experience in a lot of languages like C#, Java, HTML/CSS, Dart and frameworks such as .NET, Angular, Spring and Flutter.
                    This portfolio site is built using my knowledge about these technologies (Mainly C#, HTML, .NET) and hosted on my own hardware. Chances are I will update this website regularly to show off my projects and experiences, so check back soon!</p>
        <button onclick="window.location.href='/About';">More about me</button>
    </div>
</section>

<section id="contact" class="form-group">
    <div class="container">
        <h1 class="text-center mb-5">Contact Me</h1>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="py-3">
    <div class="text-center">
        <p>© 2025 Siebe's Portfolio. All rights reserved.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
    
    // Admin panel access
    //#region
    let keys = [];
    const secretCode = ['ArrowUp', 'ArrowUp', 'ArrowDown', 'ArrowDown', 'ArrowLeft', 'ArrowRight', 'ArrowLeft', 'ArrowRight', 'b', 'a'];

    document.addEventListener('keydown', (e) => {
        keys.push(e.key);
        keys.splice(-secretCode.length - 1, keys.length - secretCode.length);

        if (keys.join('') === secretCode.join('')) {
            const adminLink = document.getElementById('adminLink');
            adminLink.style.display = 'block';
            adminLink.addEventListener('click', () => {
                window.location.href = '/AdminPage';
            });
        }
    });
    //#endregion

    // Fetch projects from API
    //#region
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/api/project')
            .then(response => response.json())
            .then(data => {
                const projectsContainer = document.getElementById('projects-container');
                projectsContainer.className = 'card-deck';
                projectsContainer.innerHTML = '';

                data.forEach(project => {
                    if(project.isFeatured == true) {
                        const projectCard = document.createElement('div');
                        projectCard.className = 'card border-secondary';
                        projectCard.innerHTML = `
                                <div class="card-header"><h4 class="card-title">${project.title}</h4></div> 
                                <img class="card-img-top" src=${project.imageUrl}>
                                <div class="card-body">
                                    <p class="card-text">${project.description}</p>
                                </div>
                                <div class="card-footer">
                                    <small><p>Completed: ${project.completedDate}</p>
                                    <p>Technologies: ${project.technologiesUsed}</p></small>
                                    <a href="${project.gitHubUrl}" class="btn btn-sm btn-outline-secondary" target="_blank">GitHub</a>
                                    <a href="${project.liveDemoUrl}" class=" btn btn-sm btn-outline-secondary" target="_blank">Live Demo</a>
                                </div>
                            `;
                        projectsContainer.appendChild(projectCard);
                    }
                });

            })
            .catch(error => {
                console.error('Error fetching projects:', error);
                document.getElementById('projects-container').innerHTML = '<div class="col-12 text-center">Error loading projects</div>';
            });
    });
    //#endregion
    
    // Particles setup
    //#region
    particlesJS('particles-js', {
        particles: {
            number: {
                value: 80,
                density: {
                    enable: true,
                    value_area: 800
                }
            },
            color: {
                value: '#BBBE64'
            },
            shape: {
                type: 'circle',
                stroke: {
                    width: 0,
                    color: '#000000'
                },
                polygon: {
                    nb_sides: 5
                },
                image: {
                    src: 'img/github.svg',
                    width: 100,
                    height: 100
                }
            },
            opacity: {
                value: 0.5,
                random: false,
                anim: {
                    enable: false,
                    speed: 1,
                    opacity_min: 0.1,
                    sync: false
                }
            },
            size: {
                value: 3,
                random: true,
                anim: {
                    enable: false,
                    speed: 40,
                    size_min: 0.1,
                    sync: false
                }
            },
            line_linked: {
                enable: true,
                distance: 150,
                color: '#BBBE64',
                opacity: 0.4,
                width: 1
            },
            move: {
                enable: true,
                speed: 6,
                direction: 'none',
                random: false,
                straight: false,
                out_mode: 'out',
                attract: {
                    enable: false,
                    rotateX: 600,
                    rotateY: 1200
                }
            }
        },
        retina_detect: true
    });
    //#endregion
    
</script>
</body>
</html>
