<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siebe's Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="48x48" href="assets/favicons/favicon-48.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16.png">
    <link rel="manifest" href="assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <style>
        body {
            font-family: 'Inter', sans-serif;
            margin: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #222;
            color: #EEE;
            background-image: linear-gradient(to right, rgba(187, 190, 100, .1) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(187, 190, 100, .1) 1px, transparent 1px);
            background-size: 40px 40px;
            background-position: 5% 5%;
            transition: background-size 0.2s ease, background-position 0.2s ease;
            overflow-x: hidden; /* Prevent horizontal scrollbar */
        }

        #welcome {
            padding: 3% 0;
            text-align: center;
            border-radius: 15px;
            background: rgba(192, 197, 193, .1);
            backdrop-filter: blur(5px);
            border: none;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            width: 90%;
            margin: 100px auto 1%;
            transform: translateZ(0); /* Important for parallax */
            z-index: 2;
        }

        #projects {
            width: 95%;
            padding: 60px 0;
            border-radius: 15px;
            margin: 0 auto 1%;
            border: none;
            transform: translateZ(0); /* Important for parallax */
            z-index: 2;
            position: relative;
        }

        #about {
            width: 90%;
            border-radius: 15px;
            background: rgba(192, 197, 193, .1);
            backdrop-filter: blur(5px);
            border: none;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            padding: 5px;
            margin:  2% auto;
        }
        
        #contact {
            width: 80%;
            background: rgba(187, 190, 100, .1);
            backdrop-filter: blur(5px);
            border: none;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            margin: 2% auto;
            padding: 10px;
            
        }

        nav {
            margin: 1% 2%;
            width: 96%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px 20px;
            font-family: 'Inter', sans-serif;
            background: transparent;
            color: #eee;
            backdrop-filter: blur(7px);
            -webkit-backdrop-filter: blur(7px);
            border-radius: 15px;
            transition: 0.3s;
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
            position: fixed;
            z-index: 10;
        }

        nav p {
            margin: 0;
            cursor: pointer;
            padding: 8px;
            transition: color 0.2s ease;
            color: #eee;
        }

        nav p:hover {
            color: #BBBE64;
        }

        button {
            color: #222;
            background-color: #EAF0CE;
            transition: background-color 0.5s ease;
            border-radius: 5px;
            font-family: 'Inter', sans-serif;
            padding: 7px 10px;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: rgba(187, 190, 100, 0.8); /* Solid background on hover */
            border-color: rgba(187, 190, 100, 0.8);
        }

        button:active {
            background-color: #BBBE64;
        }

        footer {
            width: 100vw;
            background: rgba(234, 240, 206, .1);
            backdrop-filter: blur(7px);
            -webkit-backdrop-filter: blur(7px);
            color: #eee;
            text-align: center;
            margin: auto auto 0;
            transform: translateZ(0); /* Important for parallax */
            z-index: 2;
        }

        .card-deck {
            display: flex;
            flex-wrap: wrap;
        }

        .card {
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            min-width: 25%;
            margin: 0 50px 50px 50px;
            flex: 1 0 0;
            background-color: rgba(192, 197, 193, .2);
            color: #EEE;
        }
        
        .card img {
            max-width: fit-content;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        #particles-js {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }

        #particles-js canvas {
            pointer-events: none;
        }
        
        .hero, .section {
            z-index: 2;
        }
        

    </style>
</head>

<!--TODO: ADD Languages/Frameworks/Tools Section-->
<!--TODO: Expand About Section with resume-->
<!--TODO: ADD Admin Panel-->
<!--TODO: Create separate pages for the navbar items to go to-->

<body>
<div id="particles-js"></div>
<nav>
    <p>Index</p>
    <p>Projects</p>
    <p>About</p>
    <p>Contact</p>
</nav>

<section id="welcome" class="hero">
    <div class="container">
        <h1 class="display-4">Siebe's W.I.P. Portfolio</h1>
        <p class="lead">A site to portray my programming experience and language knowledge.
            Here you will be able to find my projects such as this site and links to the code & live demo's</p>
        <button href="#projects">View Projects</button>
    </div>
</section>

<section id="projects" class="section">
        <h1 class="text-center mb-5">Featured Projects</h1>
        <div class="row" id="projects-container">
            <div class="text-center">Loading projects...</div>
        </div>
</section>

<section id="about" class="section">
    <div class="container">
        <h1 class="text-center mb-5">About Me</h1>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <p class="lead text-center">I'm a passionate full-stack developer with experience in a lot of languages like C#, Java, HTML/CSS, Dart and frameworks such as .NET, Angular, Spring and Flutter.
                    This portfolio site is built using my knowledge about these technologies (Mainly C#, HTML, .NET) and hosted on my own hardware. Chances are I will update this website regularly to show off my projects and experiences, so check back soon!</p>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="form-group">
    <div class="container">
        <h1 class="text-center mb-5">Contact Me</h1>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Your Email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="py-3">
    <div class="text-center">
        <p>© 2025 Siebe's Portfolio. All rights reserved.</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
    // Fetch projects from API
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/api/project')
            .then(response => response.json())
            .then(data => {
                const projectsContainer = document.getElementById('projects-container');
                projectsContainer.className = 'card-deck';
                projectsContainer.innerHTML = '';

                data.forEach(project => {
                    if(project.isFeatured == true) {
                        const projectCard = document.createElement('div');
                        projectCard.className = 'card border-secondary';
                        projectCard.innerHTML = `
                                <div class="card-header"><h4 class="card-title">${project.title}</h4></div> 
                                <img class="card-img-top" src=${project.imageUrl}>
                                <div class="card-body">
                                    <p class="card-text">${project.description}</p>
                                </div>
                                <div class="card-footer">
                                    <small><p>Completed: ${project.completedDate}</p>
                                    <p>Technologies: ${project.technologiesUsed}</p></small>
                                    <a href="${project.gitHubUrl}" class="btn btn-sm btn-outline-secondary" target="_blank">GitHub</a>
                                    <a href="${project.liveDemoUrl}" class=" btn btn-sm btn-outline-secondary" target="_blank">Live Demo</a>
                                </div>
                            `;
                        projectsContainer.appendChild(projectCard);
                    }
                });

            })
            .catch(error => {
                console.error('Error fetching projects:', error);
                document.getElementById('projects-container').innerHTML = '<div class="col-12 text-center">Error loading projects</div>';
            });
    });

    particlesJS('particles-js', {
        particles: {
            number: {
                value: 80,
                density: {
                    enable: true,
                    value_area: 800
                }
            },
            color: {
                value: '#BBBE64'
            },
            shape: {
                type: 'circle',
                stroke: {
                    width: 0,
                    color: '#000000'
                },
                polygon: {
                    nb_sides: 5
                },
                image: {
                    src: 'img/github.svg',
                    width: 100,
                    height: 100
                }
            },
            opacity: {
                value: 0.5,
                random: false,
                anim: {
                    enable: false,
                    speed: 1,
                    opacity_min: 0.1,
                    sync: false
                }
            },
            size: {
                value: 3,
                random: true,
                anim: {
                    enable: false,
                    speed: 40,
                    size_min: 0.1,
                    sync: false
                }
            },
            line_linked: {
                enable: true,
                distance: 150,
                color: '#BBBE64',
                opacity: 0.4,
                width: 1
            },
            move: {
                enable: true,
                speed: 6,
                direction: 'none',
                random: false,
                straight: false,
                out_mode: 'out',
                attract: {
                    enable: false,
                    rotateX: 600,
                    rotateY: 1200
                }
            }
        },
        retina_detect: true
    });
</script>
</body>
</html>
